name: CI/CD to Minikube

on:
  push:
    branches:
      - main  # or your deploy branch

jobs:
  build-and-deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Minikube Docker daemon
        shell: powershell
        run: minikube docker-env | Invoke-Expression

      - name: Build Docker image inside Minikube
        run: docker build -t streamlit-app:latest .

      - name: Deploy to Minikube
        run: kubectl apply -f k8s/
